<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liangtouwu.business.mapper.AlertMapper">
    <select id="findByCondition" resultType="com.liangtouwu.domain.entity.Alert">
        SELECT * FROM alert
        <where>
            <if test="search != null and search != ''">
                AND (pig_id LIKE CONCAT('%', #{search}, '%') OR type LIKE CONCAT('%', #{search}, '%'))
            </if>
            <if test="risk != null and risk != ''">
                AND risk = #{risk}
            </if>
            <if test="area != null and area != ''">
                AND area = #{area}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="countTodayAlerts" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM alert
    </select>
</mapper>
